$accent-orange:      rgb(249, 118, 75)
$border-dark:        #3d4141
$footer-bg-bottom:   #232828
$footer-bg-top:      #2B3030
$text-light:         #666868
$text-muted:         #767979
$white:              #fff